<div id="welcome">
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <div class="container text-center" v-cloak>
      <h1>Welcome {{ me.fullName }}!</h1>
      <hr/>
      <p>Here's your tweddits.</p>
      <div class="pull-left w-75">
        <post v-for="post in posts" v-bind:key="post.id" v-bind:post="post" v-bind:user="me"></post>
      </div>
      <div class="pull-right w-25">
        <friend v-bind:user="me" type="friends"></friend>
        <friend v-bind:user="me" type="frenemies"></friend>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
